# Assignment on Store_sales dataset

**Load the Dataset**

In [1]:
import pandas as pd
store_data=pd.read_csv("C:/Users/CVR/Downloads/store_sales.csv")
print(store_data)

   store_id        city  Jan  Feb  Mar  Apr  May  Jun  July  Aug  Sep  Oct  \
0       S_1       Texas    8   20   13   21   17   20    24   17   16    9
1       S_2  California   12   19   15   15   11   19     7   15   10   11
2       S_3  California   16   16   14   19   23    6    13   13   15   14
3       S_4       Texas    8   18   13   10   14   14     6    8    8   18
4       S_5       Texas   19    5   24    9    5   24    10    5   24   15
..      ...         ...  ...  ...  ...  ...  ...  ...   ...  ...  ...  ...
95     S_96       Texas    7   10   20   20   10   15    15   21   15    7
96     S_97  California   13    6    7   15   22   10    21   23   10    6
97     S_98       Texas   16    9    6   14   20   13    11   10    8   22
98     S_99     Arizona   18   16    9    5   12   22    11   13   21   17
99    S_100  California    5   23   17   24   15   21    19   10   12   20

    Nov  Dec
0     7    6
1    21   19
2    24    8
3     7   11
4     6   13
..  ...  ...
95   23   22
96   12    9
97   17   22
98   19   10
99    5    9

[100 rows x 14 columns]

**Calculate the total sales for each store across all months.**

In [2]:
total_sales=store_data.loc[:, 'Jan':'Dec'].sum(axis=1)
print(total_sales)

0     178
1     174
2     181
3     135
4     159
     ...
95    185
96    154
97    168
98    173
99    180
Length: 100, dtype: int64

**Find the average sales for each month across all stores**

In [9]:
avg_sales=store_data.loc[:,'Jan':'Dec'].mean()
print(avg_sales)

Jan     14.46
Feb     15.09
Mar     14.56
Apr     14.57
May     13.56
Jun     13.80
July    14.38
Aug     15.81
Sep     14.91
Oct     14.10
Nov     15.31
Dec     13.57
dtype: float64

**Identify the store with the highest total sales.**

In [8]:
highest_sales=total_sales.max()
print(f" highest total sales is '{highest_total_sales}'")

 highest total sales is '214'

**Calculate the total sales for each city.**

In [7]:
store_data['Total_Sales']=total_sales
sales_by_city=store_data.groupby('city')['Total_Sales'].sum()
print(sales_by_city)

city
Arizona       3951
California    7522
Texas         5939
Name: Total_Sales, dtype: int64

**List stores with total sales greater than 200**

In [10]:
sales_greater_than_200=store_data[store_data['Total_Sales']>200]['store_id']
print(f"total sales greater than 200 are \n{sales_greater_than_200}")

total sales greater than 200 are
37    S_38
39    S_40
50    S_51
61    S_62
69    S_70
72    S_73
77    S_78
85    S_86
86    S_87
92    S_93
Name: store_id, dtype: object

**Which month had the highest average sales across all stores?**

In [11]:
highest_average_sales=average_sales.idxmax()
print(f"The month in the highest average sales is {highest_average_sales}")

The month in the highest average sales is Aug

**Which city generated the most revenue?**

In [13]:
high_revenue_city=sales_by_city.idxmax()
print(f"The city with highest revenue is {high_revenue_city}")

The city with highest revenue is California