## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [5]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [6]:
auto_data = pd.read_csv("C:/Users/CVR/Downloads/Automobile.csv")
print(auto_data)

     symboling  normalized_losses         make fuel_type aspiration  \
0            3                168  alfa-romero       gas        std
1            3                168  alfa-romero       gas        std
2            1                168  alfa-romero       gas        std
3            2                164         audi       gas        std
4            2                164         audi       gas        std
..         ...                ...          ...       ...        ...
196         -1                 95        volvo       gas        std
197         -1                 95        volvo       gas      turbo
198         -1                 95        volvo       gas        std
199         -1                 95        volvo    diesel      turbo
200         -1                 95        volvo       gas      turbo

    number_of_doors   body_style drive_wheels engine_location  wheel_base  \
0               two  convertible          rwd           front        88.6
1               two  convertible          rwd           front        88.6
2               two    hatchback          rwd           front        94.5
3              four        sedan          fwd           front        99.8
4              four        sedan          4wd           front        99.4
..              ...          ...          ...             ...         ...
196            four        sedan          rwd           front       109.1
197            four        sedan          rwd           front       109.1
198            four        sedan          rwd           front       109.1
199            four        sedan          rwd           front       109.1
200            four        sedan          rwd           front       109.1

     ...  engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
0    ...          130         mpfi  3.47    2.68               9.0        111
1    ...          130         mpfi  3.47    2.68               9.0        111
2    ...          152         mpfi  2.68    3.47               9.0        154
3    ...          109         mpfi  3.19    3.40              10.0        102
4    ...          136         mpfi  3.19    3.40               8.0        115
..   ...          ...          ...   ...     ...               ...        ...
196  ...          141         mpfi  3.78    3.15               9.5        114
197  ...          141         mpfi  3.78    3.15               8.7        160
198  ...          173         mpfi  3.58    2.87               8.8        134
199  ...          145          idi  3.01    3.40              23.0        106
200  ...          141         mpfi  3.78    3.15               9.5        114

     peak_rpm city_mpg  highway_mpg  price
0        5000       21           27  13495
1        5000       21           27  16500
2        5000       19           26  16500
3        5500       24           30  13950
4        5500       18           22  17450
..        ...      ...          ...    ...
196      5400       23           28  16845
197      5300       19           25  19045
198      5500       18           23  21485
199      4800       26           27  22470
200      5400       19           25  22625

[201 rows x 26 columns]

**Check the head of the DataFrame.**

In [7]:
auto_datahead = auto_data.head()
print(auto_datahead)

   symboling  normalized_losses         make fuel_type aspiration  \
0          3                168  alfa-romero       gas        std
1          3                168  alfa-romero       gas        std
2          1                168  alfa-romero       gas        std
3          2                164         audi       gas        std
4          2                164         audi       gas        std

  number_of_doors   body_style drive_wheels engine_location  wheel_base  ...  \
0             two  convertible          rwd           front        88.6  ...
1             two  convertible          rwd           front        88.6  ...
2             two    hatchback          rwd           front        94.5  ...
3            four        sedan          fwd           front        99.8  ...
4            four        sedan          4wd           front        99.4  ...

   engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
0          130         mpfi  3.47    2.68               9.0        111
1          130         mpfi  3.47    2.68               9.0        111
2          152         mpfi  2.68    3.47               9.0        154
3          109         mpfi  3.19    3.40              10.0        102
4          136         mpfi  3.19    3.40               8.0        115

   peak_rpm city_mpg  highway_mpg  price
0      5000       21           27  13495
1      5000       21           27  16500
2      5000       19           26  16500
3      5500       24           30  13950
4      5500       18           22  17450

[5 rows x 26 columns]

**How many rows and columns are there?**

In [9]:
auto_rows = len(auto_data)
auto_cols = len(auto_data.columns)

print(f"Number of rows : {auto_rows}")
print(f"Number of columns : {auto_cols}")

Number of rows : 201
Number of columns : 26

**What is the average Price of all cars in the dataset?**

In [12]:
avg_price = auto_data['price'].mean()
print(f"The average price is {avg_price}")

The average price is 13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [14]:
cheapest = auto_data['price'].min()
print(f"The cheapest make of car is {cheapest}")

The cheapest make of car is 5118

In [15]:
costliest = auto_data['price'].max()
print(f"The costliest make of car is {costliest}")

The costliest make of car is 45400

**How many cars have horsepower greater than 100?**

In [17]:
horsepower = auto_data[auto_data['horsepower']>100].shape[0]
print(horsepower)

90

**How many hatchback cars are in the dataset ?**

In [18]:
hatchback = auto_data[auto_data['body_style'] == 'hatchback'].shape[0]
print(f"The number of hatchback cars is {hatchback}")

The number of hatchback cars is 68

**What are the 3 most commonly found cars in the dataset?**

In [19]:
comm = auto_data['make'].value_counts().head(3)
print(f"The 3 most common cars are {comm}")

The 3 most common cars are make
toyota    32
nissan    18
mazda     17
Name: count, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [20]:
make_car = auto_data[auto_data['price'] == 7099]['make']
print(make_car)

87    nissan
Name: make, dtype: object

**Which cars are priced greater than 40000?**

In [21]:
greater_than_40000 = auto_data[auto_data['price'] > 40000]['make']
print(greater_than_40000)

15              bmw
70    mercedes-benz
71    mercedes-benz
Name: make, dtype: object

**Which are the cars that are both a sedan and priced less than 7000?**

In [24]:
cars = auto_data[(auto_data['price'] < 7000) & (auto_data['make'] == 'sedan')]
print(cars)

Empty DataFrame
Columns: [symboling, normalized_losses, make, fuel_type, aspiration, number_of_doors, body_style, drive_wheels, engine_location, wheel_base, length, width, height, curb_weight, engine_type, number_of_cylinders, engine_size, fuel_system, bore, stroke, compression_ratio, horsepower, peak_rpm, city_mpg, highway_mpg, price]
Index: []

[0 rows x 26 columns]

 **Count the number of unique values in the `fuel_type` column.**

In [25]:
unique = auto_data['fuel_type'].nunique()
print(f"Number of unique values in the fuel type column is {unique}")

Number of unique values in the fuel type column is 2

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

In [26]:
b = auto_data[(auto_data['horsepower'] > 100) & (auto_data['horsepower'] < 200)][['make','horsepower','price']]
print(b)

            make  horsepower  price
0    alfa-romero         111  13495
1    alfa-romero         111  16500
2    alfa-romero         154  16500
3           audi         102  13950
4           audi         115  17450
..           ...         ...    ...
196        volvo         114  16845
197        volvo         160  19045
198        volvo         134  21485
199        volvo         106  22470
200        volvo         114  22625

[85 rows x 3 columns]

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

In [28]:
avg = auto_data.groupby('body_style')[['city_mpg','highway_mpg']].mean().reset_index()
print(avg)

    body_style   city_mpg  highway_mpg
0  convertible  20.500000    26.000000
1      hardtop  21.625000    27.250000
2    hatchback  26.602941    32.382353
3        sedan  25.053191    30.574468
4        wagon  24.040000    28.720000

**What is the median `price` for each `make`?**

In [29]:
median = auto_data.groupby('make')['price'].median().reset_index()
print(median)

             make    price
0     alfa-romero  16500.0
1            audi  17580.0
2             bmw  22835.0
3       chevrolet   6295.0
4           dodge   7609.0
5           honda   7295.0
6           isuzu   8916.5
7          jaguar  35550.0
8           mazda  10595.0
9   mercedes-benz  32892.0
10        mercury  16503.0
11     mitsubishi   8499.0
12         nissan   8124.0
13         peugot  16630.0
14       plymouth   7609.0
15        porsche  33278.0
16        renault   9595.0
17           saab  15275.0
18         subaru   7894.0
19         toyota   9103.0
20     volkswagen   9737.5
21          volvo  18420.0

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

In [32]:
c = auto_data[(auto_data['wheel_base'] > 100) & (auto_data['curb_weight'] < 2500)]['make']
print(c)

9         bmw
10        bmw
169    toyota
170    toyota
171    toyota
172    toyota
173    toyota
Name: make, dtype: object

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

In [33]:
auto_data['price_per_hp'] = auto_data['price'] / auto_data['horsepower']
print(auto_data[['make','horsepower','price','price_per_hp']])

            make  horsepower  price  price_per_hp
0    alfa-romero         111  13495    121.576577
1    alfa-romero         111  16500    148.648649
2    alfa-romero         154  16500    107.142857
3           audi         102  13950    136.764706
4           audi         115  17450    151.739130
..           ...         ...    ...           ...
196        volvo         114  16845    147.763158
197        volvo         160  19045    119.031250
198        volvo         134  21485    160.335821
199        volvo         106  22470    211.981132
200        volvo         114  22625    198.464912

[201 rows x 4 columns]

**Count how many cars have a `number_of_doors` as `four`.**

In [34]:
fourcars = auto_data[auto_data['number_of_doors'] == 'four'].shape[0]
print(fourcars)

114

**Find the top 5 cars based on their `highway_mpg` and `price`.**

In [35]:
top_five = auto_data.sort_values(by=['highway_mpg','price'], ascending=[False,False]).head()
print(top_five)

     symboling  normalized_losses       make fuel_type aspiration  \
29           2                137      honda       gas        std
17           2                121  chevrolet       gas        std
87           1                128     nissan    diesel        std
155          0                 91     toyota    diesel        std
156          0                 91     toyota       gas        std

    number_of_doors body_style drive_wheels engine_location  wheel_base  ...  \
29              two  hatchback          fwd           front        86.6  ...
17              two  hatchback          fwd           front        88.4  ...
87              two      sedan          fwd           front        94.5  ...
155            four  hatchback          fwd           front        95.7  ...
156            four      sedan          fwd           front        95.7  ...

     fuel_system  bore  stroke  compression_ratio horsepower peak_rpm  \
29          1bbl  2.91    3.41                9.6         58     4800
17          2bbl  2.91    3.03                9.5         48     5100
87           idi  2.99    3.47               21.9         55     4800
155          idi  3.27    3.35               22.5         56     4500
156         2bbl  3.19    3.03                9.0         70     4800

     city_mpg highway_mpg  price  price_per_hp
29         49          54   6479    111.706897
17         47          53   5151    107.312500
87         45          50   7099    129.072727
155        38          47   7788    139.071429
156        38          47   7738    110.542857

[5 rows x 27 columns]

**How many cars have missing values in the `normalized_losses` column?**

In [36]:
missing_values = auto_data['normalized_losses'].isnull().sum()
print(f"Missing values in normalised_losses is {missing_values}")

Missing values in normalised_losses is 0

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

In [37]:
auto_data['year_of_manufacture'] = 2019
auto_data['car_age'] = 2025 - auto_data['year_of_manufacture']
print(auto_data[['year_of_manufacture','make','car_age']].head())

   year_of_manufacture         make  car_age
0                 2019  alfa-romero        6
1                 2019  alfa-romero        6
2                 2019  alfa-romero        6
3                 2019         audi        6
4                 2019         audi        6

### The END